apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
skipPhases:
  - addon/kube-proxy
localAPIEndpoint:
  advertiseAddress: "{{ private_ip }}"
  bindPort: 6443
nodeRegistration:
  criSocket: "unix:///run/containerd/containerd.sock"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v{{ k8s_full_version }}"
{% if control_plane_endpoint | default('') | length > 0 %}
controlPlaneEndpoint: "{{ control_plane_endpoint }}"
{% endif %}
networking:
  podSubnet: "{{ pod_network_cidr }}"