network:
  version: 2
  renderer: networkd
  ethernets:
    {{ private_interface }}:
      dhcp4: true
      dhcp4-overrides:
        use-routes: false
      optional: true
      routes:
        - to: 0.0.0.0/0
          via: {{ private_network_gateway_ip }}
          on-link: true
      nameservers:
        addresses:
{% for nameserver in private_nat_nameservers %}
          - {{ nameserver }}
{% endfor %}